body {
    background-color: rgb(36, 36, 36);
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center; 
}

.image {
    margin-right: 10px; 
}
