body {
    background-color: rgb(36, 36, 36);
    color: white;
}
img {
    width: 10em;
    height: auto;
}
.section-1{
    padding-top: 30vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}